.wrap {
    background-color: #096;
    margin-top: 20px;
}
.test1 {
    font-size: 20px;
    line-height: 0px;
    border: 1px solid #ccc;
    background-color: #eee;
}
.test2 {
    font-size: 0px;
    line-height: 20px;
    border: 1px solid #ccc;
    background-color: #eee;
}
.mulit_line {
    line-height: 150px; 
    border: 1px dashed #cccccc; 
    padding-left: 5px;
}
.mulit_line span {
    display: -moz-inline-stack; 
    display: inline-block; 
    line-height: 1.4em; 
    vertical-align: middle;
}
.mulit_line i {
    width: 0; 
    display: -moz-inline-stack; 
    display: inline-block; 
    vertical-align: middle; 
    font-size: 0;
}
.test {
    height: 40px;
}